body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-size: x-large;
}

.body {
  height: calc(100vh - (70px + 64px));
}

.site-layout-content {
  min-height: 280px;
  margin-top: 50px;
  padding: 24px;
  background: #fff;
  height: calc(100vh - (70px + 64px) - 48px);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  padding: 24px;
  text-align: center;
}